@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a3a3a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: black;
  color: white;
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
  transition-duration: 200ms;
}

button:hover {
  background: white;
  color: black;
}
